In [25]:
import pandas as pd
import numpy as np

In [68]:
data = pd.read_csv("/home/barbora/PycharmProjects/DP-SecuritySDN/a.txt", delimiter=" ")
data.head(10)

           State             Time     Src_IP
0  NEW_PACKET_IN  19:05:04.018872   10.0.0.3
1  NEW_PACKET_IN  19:05:04.019592   10.0.0.4
2  NEW_PACKET_IN  19:05:04.042364   10.0.0.6
3         PASSED  19:05:04.067280   10.0.0.3
4         PASSED  19:05:04.067607   10.0.0.4
5         PASSED  19:05:04.067817   10.0.0.6
6  NEW_PACKET_IN  19:05:04.084973   10.0.0.9
7  NEW_PACKET_IN  19:05:04.085621  10.0.0.10
8  NEW_PACKET_IN  19:05:04.086201  10.0.0.10
9  NEW_PACKET_IN  19:05:04.119227   10.0.0.7

In [83]:
county = data.groupby(['State']).count()
county

               Time  Src_IP
State
NEW_PACKET_IN  9846    9846
PASSED         9442    9442
REJECTED        400     400

In [70]:
grouped_data = data.groupby(['State', 'Src_IP']).count()
grouped_data

                         Time
State         Src_IP
NEW_PACKET_IN 10.0.0.1    975
              10.0.0.10   510
              10.0.0.11   941
              10.0.0.12   510
              10.0.0.13   510
              10.0.0.14   510
              10.0.0.15   909
              10.0.0.2    510
              10.0.0.3    510
              10.0.0.4    510
              10.0.0.5    966
              10.0.0.6    510
              10.0.0.7    510
              10.0.0.8    955
              10.0.0.9    510
PASSED        10.0.0.1    886
              10.0.0.10   510
              10.0.0.11   862
              10.0.0.12   510
              10.0.0.13   510
              10.0.0.14   510
              10.0.0.15   846
              10.0.0.2    510
              10.0.0.3    510
              10.0.0.4    510
              10.0.0.5    877
              10.0.0.6    510
              10.0.0.7    510
              10.0.0.8    871
              10.0.0.9    510
REJECTED      10.0.0.1     86
              10.0.0.11    79
              10.0.0.15    63
              10.0.0.5     89
              10.0.0.8     83

In [84]:
data.head()

           State      Time    Src_IP
0  NEW_PACKET_IN  19:05:04  10.0.0.3
1  NEW_PACKET_IN  19:05:04  10.0.0.4
2  NEW_PACKET_IN  19:05:04  10.0.0.6
3         PASSED  19:05:04  10.0.0.3
4         PASSED  19:05:04  10.0.0.4

In [85]:
data['Time'] = data['Time'].apply(lambda x: x.split('.')[0])
data.groupby(['Time']).count().head(100)

          State  Src_IP
Time
19:05:04    278     278
19:05:05    325     325
19:05:06    301     301
19:05:07    184     184
19:05:08    180     180
19:05:09    193     193
19:05:10    346     346
19:05:11    483     483
19:05:12    554     554
19:05:13    336     336
19:05:14    340     340
19:05:15    344     344
19:05:16    348     348
19:05:17    352     352
19:05:18    356     356
19:05:19    359     359
19:05:20    365     365
19:05:21    368     368
19:05:22    372     372
19:05:23    376     376
19:05:24    380     380
19:05:25    384     384
19:05:26    384     384
19:05:27    377     377
19:05:28    386     386
19:05:29    379     379
19:05:30    394     394
19:05:31    374     374
19:05:32    407     407
19:05:33    391     391
19:05:34    508     508
19:05:35    343     343
19:05:36    454     454
19:05:37    390     390
19:05:38    369     369
19:05:39    455     455
19:05:40    342     342
19:05:41    427     427
19:05:42    374     374
19:05:43    436     436
19:05:44    391     391
19:05:45    406     406
19:05:46    444     444
19:05:47    433     433
19:05:48    404     404
19:05:49    408     408
19:05:50    467     467
19:05:51    483     483
19:05:52    448     448
19:05:53    353     353
19:05:54    437     437
19:05:55    300     300

In [108]:
data['Cat'] = 'Good boys'
data.loc[data['Src_IP'].isin(['10.0.0.1', '10.0.0.5', '10.0.0.8', '10.0.0.11', '10.0.0.15']), 'Cat'] = 'Bad boys'
data.head(100)

            State      Time     Src_IP       Cat
0   NEW_PACKET_IN  19:05:04   10.0.0.3  Good boy
1   NEW_PACKET_IN  19:05:04   10.0.0.4  Good boy
2   NEW_PACKET_IN  19:05:04   10.0.0.6  Good boy
3          PASSED  19:05:04   10.0.0.3  Good boy
4          PASSED  19:05:04   10.0.0.4  Good boy
5          PASSED  19:05:04   10.0.0.6  Good boy
6   NEW_PACKET_IN  19:05:04   10.0.0.9  Good boy
7   NEW_PACKET_IN  19:05:04  10.0.0.10  Good boy
8   NEW_PACKET_IN  19:05:04  10.0.0.10  Good boy
9   NEW_PACKET_IN  19:05:04   10.0.0.7  Good boy
10  NEW_PACKET_IN  19:05:04   10.0.0.2  Good boy
11         PASSED  19:05:04   10.0.0.9  Good boy
12         PASSED  19:05:04  10.0.0.10  Good boy
13         PASSED  19:05:04  10.0.0.10  Good boy
14         PASSED  19:05:04   10.0.0.7  Good boy
15         PASSED  19:05:04   10.0.0.2  Good boy
16  NEW_PACKET_IN  19:05:04  10.0.0.12  Good boy
17  NEW_PACKET_IN  19:05:04  10.0.0.13  Good boy
18  NEW_PACKET_IN  19:05:04  10.0.0.13  Good boy
19  NEW_PACKET_IN  19:05:04  10.0.0.14  Good boy
20  NEW_PACKET_IN  19:05:04  10.0.0.14  Good boy
21  NEW_PACKET_IN  19:05:04  10.0.0.12  Good boy
22  NEW_PACKET_IN  19:05:04   10.0.0.9  Good boy
23  NEW_PACKET_IN  19:05:04  10.0.0.10  Good boy
24  NEW_PACKET_IN  19:05:04   10.0.0.9  Good boy
25  NEW_PACKET_IN  19:05:04  10.0.0.10  Good boy
26  NEW_PACKET_IN  19:05:04   10.0.0.9  Good boy
27  NEW_PACKET_IN  19:05:04  10.0.0.10  Good boy
28  NEW_PACKET_IN  19:05:04  10.0.0.11   Bad boy
29  NEW_PACKET_IN  19:05:04   10.0.0.9  Good boy
..            ...       ...        ...       ...
70  NEW_PACKET_IN  19:05:04   10.0.0.1   Bad boy
71  NEW_PACKET_IN  19:05:04   10.0.0.5   Bad boy
72  NEW_PACKET_IN  19:05:04   10.0.0.5   Bad boy
73  NEW_PACKET_IN  19:05:04   10.0.0.8   Bad boy
74  NEW_PACKET_IN  19:05:04   10.0.0.8   Bad boy
75  NEW_PACKET_IN  19:05:04   10.0.0.8   Bad boy
76  NEW_PACKET_IN  19:05:04   10.0.0.8   Bad boy
77         PASSED  19:05:04  10.0.0.12  Good boy
78         PASSED  19:05:04  10.0.0.13  Good boy
79         PASSED  19:05:04  10.0.0.13  Good boy
80         PASSED  19:05:04  10.0.0.14  Good boy
81         PASSED  19:05:04  10.0.0.14  Good boy
82         PASSED  19:05:04  10.0.0.12  Good boy
83         PASSED  19:05:04   10.0.0.9  Good boy
84         PASSED  19:05:04  10.0.0.10  Good boy
85         PASSED  19:05:04   10.0.0.9  Good boy
86         PASSED  19:05:04  10.0.0.10  Good boy
87         PASSED  19:05:04   10.0.0.9  Good boy
88         PASSED  19:05:04  10.0.0.10  Good boy
89         PASSED  19:05:04  10.0.0.11   Bad boy
90         PASSED  19:05:04   10.0.0.9  Good boy
91         PASSED  19:05:04  10.0.0.15   Bad boy
92         PASSED  19:05:04  10.0.0.12  Good boy
93         PASSED  19:05:04  10.0.0.13  Good boy
94  NEW_PACKET_IN  19:05:04  10.0.0.11   Bad boy
95  NEW_PACKET_IN  19:05:04  10.0.0.11   Bad boy
96  NEW_PACKET_IN  19:05:04   10.0.0.3  Good boy
97  NEW_PACKET_IN  19:05:04   10.0.0.4  Good boy
98  NEW_PACKET_IN  19:05:04   10.0.0.6  Good boy
99  NEW_PACKET_IN  19:05:04  10.0.0.15   Bad boy

[100 rows x 4 columns]

In [109]:
data.groupby(['Time', 'Cat', 'State']).count()

                                 Src_IP
Time     Cat      State
19:05:04 Bad boy  NEW_PACKET_IN      50
                  PASSED             40
         Good boy NEW_PACKET_IN     100
                  PASSED             88
19:05:05 Bad boy  NEW_PACKET_IN      52
                  PASSED             61
         Good boy NEW_PACKET_IN     100
                  PASSED            112
19:05:06 Bad boy  NEW_PACKET_IN      54
                  PASSED             48
         Good boy NEW_PACKET_IN     100
                  PASSED             99
19:05:07 Bad boy  NEW_PACKET_IN      44
                  PASSED             34
         Good boy NEW_PACKET_IN      76
                  PASSED             30
19:05:08 Bad boy  NEW_PACKET_IN      47
                  PASSED             36
         Good boy NEW_PACKET_IN      68
                  PASSED             29
19:05:09 Bad boy  NEW_PACKET_IN      50
                  PASSED             30
         Good boy NEW_PACKET_IN      71
                  PASSED             42
19:05:10 Bad boy  NEW_PACKET_IN      65
                  PASSED             69
         Good boy NEW_PACKET_IN     108
                  PASSED            104
19:05:11 Bad boy  NEW_PACKET_IN      76
                  PASSED             94
...                                 ...
19:05:50 Bad boy  NEW_PACKET_IN     130
                  PASSED            109
                  REJECTED           28
         Good boy NEW_PACKET_IN     100
                  PASSED            100
19:05:51 Bad boy  NEW_PACKET_IN     136
                  PASSED            120
                  REJECTED           27
         Good boy NEW_PACKET_IN     100
                  PASSED            100
19:05:52 Bad boy  NEW_PACKET_IN     121
                  PASSED            101
                  REJECTED           26
         Good boy NEW_PACKET_IN     100
                  PASSED            100
19:05:53 Bad boy  NEW_PACKET_IN      88
                  PASSED             57
                  REJECTED            8
         Good boy NEW_PACKET_IN     100
                  PASSED            100
19:05:54 Bad boy  NEW_PACKET_IN      95
                  PASSED            119
                  REJECTED           23
         Good boy NEW_PACKET_IN     100
                  PASSED            100
19:05:55 Bad boy  NEW_PACKET_IN      48
                  PASSED             43
                  REJECTED            9
         Good boy NEW_PACKET_IN     100
                  PASSED            100

[238 rows x 1 columns]

In [110]:
sel_data = data.loc[(data['State'] == 'PASSED') | (data['State'] == 'REJECTED')]
sel_data.head()

     State      Time     Src_IP       Cat
3   PASSED  19:05:04   10.0.0.3  Good boy
4   PASSED  19:05:04   10.0.0.4  Good boy
5   PASSED  19:05:04   10.0.0.6  Good boy
11  PASSED  19:05:04   10.0.0.9  Good boy
12  PASSED  19:05:04  10.0.0.10  Good boy

In [111]:
sel_data.groupby(['State','Cat']).count()

                   Time  Src_IP
State    Cat
PASSED   Bad boy   4342    4342
         Good boy  5100    5100
REJECTED Bad boy    400     400