In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/home/barbora/PycharmProjects/DP-SecuritySDN/Wave4.txt", delimiter=" ")
data.head(10)

           State             Time     Src_IP
0  NEW_PACKET_IN  18:29:19.104005  10.0.0.80
1  NEW_PACKET_IN  18:29:19.116245  10.0.0.66
2  NEW_PACKET_IN  18:29:19.130741  10.0.0.60
3  NEW_PACKET_IN  18:29:19.131476  10.0.0.56
4  NEW_PACKET_IN  18:29:19.159003  10.0.0.63
5  NEW_PACKET_IN  18:29:19.159693  10.0.0.69
6  NEW_PACKET_IN  18:29:19.160174  10.0.0.52
7  NEW_PACKET_IN  18:29:19.171800  10.0.0.29
8  NEW_PACKET_IN  18:29:19.172286   10.0.0.5
9  NEW_PACKET_IN  18:29:19.172711  10.0.0.10

In [3]:
test = data.groupby(['State'])

In [4]:
county = data.groupby(['State']).count()
county

                      Time  Src_IP
State
NEW_PACKET_IN         5231    5231
PASSED                4712    4712
REJECTED               514     514
REJECTED_blacklisted   139     139

In [5]:
grouped_data = data.groupby(['State', 'Src_IP']).count()
grouped_data

                                Time
State                Src_IP
NEW_PACKET_IN        10.0.0.1     52
                     10.0.0.10    82
                     10.0.0.11    64
                     10.0.0.12    49
                     10.0.0.13    54
                     10.0.0.14    68
                     10.0.0.15    62
                     10.0.0.16    70
                     10.0.0.17    60
                     10.0.0.18    62
                     10.0.0.19    66
                     10.0.0.2     66
                     10.0.0.20    62
                     10.0.0.21    40
                     10.0.0.22    86
                     10.0.0.23    63
                     10.0.0.24    52
                     10.0.0.25    62
                     10.0.0.26    82
                     10.0.0.27    64
                     10.0.0.28    64
                     10.0.0.29    50
                     10.0.0.3     76
                     10.0.0.30    54
                     10.0.0.31    56
                     10.0.0.32    54
                     10.0.0.33    62
                     10.0.0.34    29
                     10.0.0.35    82
                     10.0.0.36    76
...                              ...
REJECTED             10.0.0.97    15
                     10.0.0.98    14
                     10.0.0.99    13
REJECTED_blacklisted 10.0.0.12     1
                     10.0.0.21     1
                     10.0.0.24     1
                     10.0.0.34     2
                     10.0.0.37     1
                     10.0.0.63     2
                     10.0.0.77     1
                     10.0.0.80     2
                     10.0.0.81     5
                     10.0.0.82     5
                     10.0.0.83     5
                     10.0.0.84     5
                     10.0.0.85     4
                     10.0.0.86     6
                     10.0.0.87     6
                     10.0.0.88     6
                     10.0.0.89    10
                     10.0.0.90     3
                     10.0.0.91    10
                     10.0.0.92     4
                     10.0.0.93     4
                     10.0.0.94     5
                     10.0.0.95    10
                     10.0.0.96    10
                     10.0.0.97    10
                     10.0.0.98    10
                     10.0.0.99    10

[310 rows x 1 columns]

In [6]:
data['Time'] = data['Time'].apply(lambda x: x.split('.')[0])
data.groupby(['Time']).count().head(100)

          State  Src_IP
Time
18:29:19    356     356
18:29:20    200     200
18:29:21    200     200
18:29:22    194     194
18:29:23    200     200
18:29:24    198     198
18:29:25    424     424
18:29:26    198     198
18:29:27    200     200
18:29:28    200     200
18:29:29    200     200
18:29:30    199     199
18:29:31    201     201
18:29:32    195     195
18:29:33    199     199
18:29:34    195     195
18:29:35    196     196
18:29:36    196     196
18:29:37    184     184
18:29:38    216     216
18:29:39    232     232
18:29:40    242     242
18:29:41    257     257
18:29:42    261     261
18:29:43    237     237
18:29:44    226     226
18:29:45    211     211
18:29:46    196     196
18:29:47    176     176
18:29:48    429     429
18:29:49    196     196
18:29:50    186     186
18:29:51    188     188
18:29:52    196     196
18:29:53    192     192
18:29:54    192     192
18:29:55    192     192
18:29:56    184     184
18:29:57    182     182
18:29:58    183     183
18:29:59    187     187
18:30:00    192     192
18:30:01    196     196
18:30:02    182     182
18:30:03    192     192
18:30:04    191     191
18:30:05    192     192
18:30:06    193     193
18:30:07    186     186
18:30:08    176     176

In [7]:
data['Cat'] = 'Good boys'
data.loc[data['Src_IP'].isin(['10.0.0.80', '10.0.0.81', '10.0.0.82', '10.0.0.83', '10.0.0.84', '10.0.0.85', '10.0.0.86', '10.0.0.87', '10.0.0.88', '10.0.0.89', '10.0.0.90', '10.0.0.91', '10.0.0.92', '10.0.0.93', '10.0.0.94', '10.0.0.95', '10.0.0.96', '10.0.0.97', '10.0.0.98', '10.0.0.99']), 'Cat'] = 'Bad boys'
data.head(100)

                   State      Time     Src_IP        Cat
0          NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
1          NEW_PACKET_IN  18:29:19  10.0.0.66  Good boys
2          NEW_PACKET_IN  18:29:19  10.0.0.60  Good boys
3          NEW_PACKET_IN  18:29:19  10.0.0.56  Good boys
4          NEW_PACKET_IN  18:29:19  10.0.0.63  Good boys
5          NEW_PACKET_IN  18:29:19  10.0.0.69  Good boys
6          NEW_PACKET_IN  18:29:19  10.0.0.52  Good boys
7          NEW_PACKET_IN  18:29:19  10.0.0.29  Good boys
8          NEW_PACKET_IN  18:29:19   10.0.0.5  Good boys
9          NEW_PACKET_IN  18:29:19  10.0.0.10  Good boys
10         NEW_PACKET_IN  18:29:19   10.0.0.1  Good boys
11         NEW_PACKET_IN  18:29:19  10.0.0.23  Good boys
12         NEW_PACKET_IN  18:29:19  10.0.0.48  Good boys
13         NEW_PACKET_IN  18:29:19  10.0.0.50  Good boys
14         NEW_PACKET_IN  18:29:19  10.0.0.27  Good boys
15         NEW_PACKET_IN  18:29:19  10.0.0.37  Good boys
16         NEW_PACKET_IN  18:29:19  10.0.0.45  Good boys
17                PASSED  18:29:19  10.0.0.80   Bad boys
18                PASSED  18:29:19  10.0.0.66  Good boys
19                PASSED  18:29:19  10.0.0.60  Good boys
20                PASSED  18:29:19  10.0.0.56  Good boys
21                PASSED  18:29:19  10.0.0.63  Good boys
22                PASSED  18:29:19  10.0.0.69  Good boys
23                PASSED  18:29:19  10.0.0.52  Good boys
24                PASSED  18:29:19  10.0.0.29  Good boys
25                PASSED  18:29:19   10.0.0.5  Good boys
26                PASSED  18:29:19  10.0.0.10  Good boys
27                PASSED  18:29:19   10.0.0.1  Good boys
28                PASSED  18:29:19  10.0.0.23  Good boys
29                PASSED  18:29:19  10.0.0.48  Good boys
..                   ...       ...        ...        ...
70         NEW_PACKET_IN  18:29:19  10.0.0.82   Bad boys
71         NEW_PACKET_IN  18:29:19  10.0.0.82   Bad boys
72         NEW_PACKET_IN  18:29:19  10.0.0.51  Good boys
73         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
74         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
75         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
76         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
77              REJECTED  18:29:19  10.0.0.80   Bad boys
78         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
79              REJECTED  18:29:19  10.0.0.80   Bad boys
80         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
81              REJECTED  18:29:19  10.0.0.80   Bad boys
82         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
83              REJECTED  18:29:19  10.0.0.80   Bad boys
84         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
85              REJECTED  18:29:19  10.0.0.80   Bad boys
86         NEW_PACKET_IN  18:29:19  10.0.0.80   Bad boys
87              REJECTED  18:29:19  10.0.0.80   Bad boys
88  REJECTED_blacklisted  18:29:19  10.0.0.80   Bad boys
89         NEW_PACKET_IN  18:29:19  10.0.0.83   Bad boys
90         NEW_PACKET_IN  18:29:19  10.0.0.83   Bad boys
91         NEW_PACKET_IN  18:29:19  10.0.0.82   Bad boys
92         NEW_PACKET_IN  18:29:19  10.0.0.81   Bad boys
93         NEW_PACKET_IN  18:29:19  10.0.0.81   Bad boys
94              REJECTED  18:29:19  10.0.0.81   Bad boys
95         NEW_PACKET_IN  18:29:19  10.0.0.81   Bad boys
96              REJECTED  18:29:19  10.0.0.81   Bad boys
97         NEW_PACKET_IN  18:29:19  10.0.0.81   Bad boys
98              REJECTED  18:29:19  10.0.0.81   Bad boys
99         NEW_PACKET_IN  18:29:19  10.0.0.81   Bad boys

[100 rows x 4 columns]

In [8]:
# test = data.groupby(['Time', 'State', 'Src_IP']).count()
# test

In [9]:
data.groupby(['Time', 'Cat', 'State']).count()

                                         Src_IP
Time     Cat       State
18:29:19 Bad boys  NEW_PACKET_IN             67
                   PASSED                    20
                   REJECTED                  47
                   REJECTED_blacklisted      22
         Good boys NEW_PACKET_IN            100
                   PASSED                    98
                   REJECTED                   2
18:29:20 Good boys NEW_PACKET_IN            100
                   PASSED                    94
                   REJECTED                   6
18:29:21 Good boys NEW_PACKET_IN            100
                   PASSED                   100
18:29:22 Good boys NEW_PACKET_IN             97
                   PASSED                    94
                   REJECTED                   3
18:29:23 Good boys NEW_PACKET_IN            100
                   PASSED                   100
18:29:24 Good boys NEW_PACKET_IN             99
                   PASSED                    98
                   REJECTED                   1
18:29:25 Bad boys  NEW_PACKET_IN             96
                   PASSED                    35
                   REJECTED                  61
                   REJECTED_blacklisted      32
         Good boys NEW_PACKET_IN            100
                   PASSED                   100
18:29:26 Good boys NEW_PACKET_IN             99
                   PASSED                    92
                   REJECTED                   7
18:29:27 Good boys NEW_PACKET_IN            100
...                                         ...
18:30:00 Good boys NEW_PACKET_IN             96
                   PASSED                    89
                   REJECTED                   7
18:30:01 Good boys NEW_PACKET_IN             98
                   PASSED                    94
                   REJECTED                   4
18:30:02 Good boys NEW_PACKET_IN             91
                   PASSED                    87
                   REJECTED                   4
18:30:03 Good boys NEW_PACKET_IN             96
                   PASSED                    86
                   REJECTED                  10
18:30:04 Good boys NEW_PACKET_IN             95
                   PASSED                    91
                   REJECTED                   4
                   REJECTED_blacklisted       1
18:30:05 Good boys NEW_PACKET_IN             96
                   PASSED                    92
                   REJECTED                   4
18:30:06 Good boys NEW_PACKET_IN             96
                   PASSED                    92
                   REJECTED                   4
                   REJECTED_blacklisted       1
18:30:07 Good boys NEW_PACKET_IN             92
                   PASSED                    85
                   REJECTED                   7
                   REJECTED_blacklisted       2
18:30:08 Good boys NEW_PACKET_IN             88
                   PASSED                    86
                   REJECTED                   2

[195 rows x 1 columns]

In [10]:
# sel_data = data.loc[(data['State'] == 'PASSED') | (data['State'] == 'REJECTED')]
sel_data = data.loc[(data['State'].isin(['PASSED', 'REJECTED', 'REJECTED_blacklisted', 'REJECTED_POP']))]
sel_data.head()

     State      Time     Src_IP        Cat
17  PASSED  18:29:19  10.0.0.80   Bad boys
18  PASSED  18:29:19  10.0.0.66  Good boys
19  PASSED  18:29:19  10.0.0.60  Good boys
20  PASSED  18:29:19  10.0.0.56  Good boys
21  PASSED  18:29:19  10.0.0.63  Good boys

In [11]:
sel_data.groupby(['State','Cat']).count()

                                Time  Src_IP
State                Cat
PASSED               Bad boys    155     155
                     Good boys  4557    4557
REJECTED             Bad boys    238     238
                     Good boys   276     276
REJECTED_blacklisted Bad boys    130     130
                     Good boys     9       9