In [25]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv("/home/barbora/PycharmProjects/DP-SecuritySDN/a.txt", delimiter=" ")
data.head(10)

           State             Time    Src_IP
0  NEW_PACKET_IN  17:03:17.027645  10.0.0.4
1  NEW_PACKET_IN  17:03:17.028337  10.0.0.3
2  NEW_PACKET_IN  17:03:17.053502  10.0.0.6
3  NEW_PACKET_IN  17:03:17.054095  10.0.0.2
4  NEW_PACKET_IN  17:03:17.054613  10.0.0.7
5         PASSED  17:03:17.180651  10.0.0.4
6         PASSED  17:03:17.183657  10.0.0.3
7         PASSED  17:03:17.184981  10.0.0.6
8         PASSED  17:03:17.185281  10.0.0.2
9         PASSED  17:03:17.185484  10.0.0.7

In [27]:
data.groupby(['State']).count()

               Time  Src_IP
State
NEW_PACKET_IN  9565    9565
PASSED         8718    8718
REJECTED        629     629

In [36]:
data.groupby(['State', 'Src_IP']).count()

                         Time
State         Src_IP
NEW_PACKET_IN 10.0.0.1    939
              10.0.0.10   501
              10.0.0.11   927
              10.0.0.12   504
              10.0.0.13   503
              10.0.0.14   501
              10.0.0.15   844
              10.0.0.2    503
              10.0.0.3    504
              10.0.0.4    503
              10.0.0.5    933
              10.0.0.6    505
              10.0.0.7    505
              10.0.0.8    894
              10.0.0.9    499
PASSED        10.0.0.1    768
              10.0.0.10   482
              10.0.0.11   876
              10.0.0.12   489
              10.0.0.13   485
              10.0.0.14   482
              10.0.0.15   699
              10.0.0.2    487
              10.0.0.3    489
              10.0.0.4    486
              10.0.0.5    776
              10.0.0.6    495
              10.0.0.7    495
              10.0.0.8    730
              10.0.0.9    479
REJECTED      10.0.0.1    159
              10.0.0.11    51
              10.0.0.15   118
              10.0.0.5    157
              10.0.0.8    144