In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/home/barbora/PycharmProjects/DP-SecuritySDN/a.txt", delimiter=" ")
data.head(10)

           State             Time    Src_IP
0  NEW_PACKET_IN  22:09:49.035688  10.0.0.3
1  NEW_PACKET_IN  22:09:49.036404  10.0.0.6
2  NEW_PACKET_IN  22:09:49.063560  10.0.0.7
3  NEW_PACKET_IN  22:09:49.064256  10.0.0.7
4  NEW_PACKET_IN  22:09:49.091165  10.0.0.9
5  NEW_PACKET_IN  22:09:49.091806  10.0.0.9
6         PASSED  22:09:49.203870  10.0.0.3
7         PASSED  22:09:49.206416  10.0.0.6
8         PASSED  22:09:49.206659  10.0.0.7
9         PASSED  22:09:49.206865  10.0.0.7

In [3]:
county = data.groupby(['State']).count()
county

                      Time  Src_IP
State
NEW_PACKET_IN         5395    5395
PASSED                 588     588
REJECTED                25      25
REJECTED_blacklisted  4582    4582

In [4]:
grouped_data = data.groupby(['State', 'Src_IP']).count()
grouped_data

                                Time
State                Src_IP
NEW_PACKET_IN        10.0.0.1    537
                     10.0.0.10   277
                     10.0.0.11   512
                     10.0.0.12   280
                     10.0.0.13   279
                     10.0.0.14   277
                     10.0.0.15   508
                     10.0.0.2    277
                     10.0.0.3    276
                     10.0.0.4    277
                     10.0.0.5    531
                     10.0.0.6    276
                     10.0.0.7    287
                     10.0.0.8    522
                     10.0.0.9    279
PASSED               10.0.0.1     34
                     10.0.0.10    36
                     10.0.0.11    34
                     10.0.0.12    43
                     10.0.0.13    39
                     10.0.0.14    39
                     10.0.0.15    45
                     10.0.0.2     35
                     10.0.0.3     33
                     10.0.0.4     37
                     10.0.0.5     35
                     10.0.0.6     33
                     10.0.0.7     64
                     10.0.0.8     35
                     10.0.0.9     46
REJECTED             10.0.0.1      6
                     10.0.0.11     4
                     10.0.0.15     4
                     10.0.0.5      6
                     10.0.0.8      5
REJECTED_blacklisted 10.0.0.1    481
                     10.0.0.10   224
                     10.0.0.11   459
                     10.0.0.12   225
                     10.0.0.13   225
                     10.0.0.14   224
                     10.0.0.15   457
                     10.0.0.2    224
                     10.0.0.3    225
                     10.0.0.4    224
                     10.0.0.5    475
                     10.0.0.6    223
                     10.0.0.7    223
                     10.0.0.8    467
                     10.0.0.9    226

In [5]:
data['Time'] = data['Time'].apply(lambda x: x.split('.')[0])
data.groupby(['Time']).count().head(100)

          State  Src_IP
Time
22:09:49    274     274
22:09:50    187     187
22:09:51    182     182
22:09:52    229     229
22:09:53    195     195
22:09:54    292     292
22:09:55    194     194
22:09:56    164     164
22:09:57    166     166
22:09:58    168     168
22:09:59    170     170
22:10:00    172     172
22:10:01    174     174
22:10:02    176     176
22:10:03    178     178
22:10:04    180     180
22:10:05    182     182
22:10:06    184     184
22:10:07    186     186
22:10:08    188     188
22:10:09    190     190
22:10:10    192     192
22:10:11    194     194
22:10:12    196     196
22:10:13    198     198
22:10:14    200     200
22:10:15    202     202
22:10:16    204     204
22:10:17    206     206
22:10:18    208     208
22:10:19    210     210
22:10:20    212     212
22:10:21    214     214
22:10:22    211     211
22:10:23    199     199
22:10:24    184     184
22:10:25    210     210
22:10:26    202     202
22:10:27    200     200
22:10:28    216     216
22:10:29    230     230
22:10:30    222     222
22:10:31    228     228
22:10:32    237     237
22:10:33    239     239
22:10:34    242     242
22:10:35    242     242
22:10:36    242     242
22:10:37    244     244
22:10:38    221     221
22:10:39    192     192
22:10:40    162     162

In [6]:
data['Cat'] = 'Good boys'
data.loc[data['Src_IP'].isin(['10.0.0.1', '10.0.0.5', '10.0.0.8', '10.0.0.11', '10.0.0.15']), 'Cat'] = 'Bad boys'
data.head(100)

            State      Time     Src_IP        Cat
0   NEW_PACKET_IN  22:09:49   10.0.0.3  Good boys
1   NEW_PACKET_IN  22:09:49   10.0.0.6  Good boys
2   NEW_PACKET_IN  22:09:49   10.0.0.7  Good boys
3   NEW_PACKET_IN  22:09:49   10.0.0.7  Good boys
4   NEW_PACKET_IN  22:09:49   10.0.0.9  Good boys
5   NEW_PACKET_IN  22:09:49   10.0.0.9  Good boys
6          PASSED  22:09:49   10.0.0.3  Good boys
7          PASSED  22:09:49   10.0.0.6  Good boys
8          PASSED  22:09:49   10.0.0.7  Good boys
9          PASSED  22:09:49   10.0.0.7  Good boys
10         PASSED  22:09:49   10.0.0.9  Good boys
11         PASSED  22:09:49   10.0.0.9  Good boys
12  NEW_PACKET_IN  22:09:49   10.0.0.2  Good boys
13  NEW_PACKET_IN  22:09:49   10.0.0.7  Good boys
14  NEW_PACKET_IN  22:09:49   10.0.0.4  Good boys
15  NEW_PACKET_IN  22:09:49   10.0.0.4  Good boys
16  NEW_PACKET_IN  22:09:49   10.0.0.2  Good boys
17  NEW_PACKET_IN  22:09:49   10.0.0.6  Good boys
18  NEW_PACKET_IN  22:09:49   10.0.0.7  Good boys
19  NEW_PACKET_IN  22:09:49   10.0.0.2  Good boys
20  NEW_PACKET_IN  22:09:49   10.0.0.3  Good boys
21  NEW_PACKET_IN  22:09:49   10.0.0.2  Good boys
22  NEW_PACKET_IN  22:09:49   10.0.0.7  Good boys
23  NEW_PACKET_IN  22:09:49   10.0.0.3  Good boys
24  NEW_PACKET_IN  22:09:49   10.0.0.3  Good boys
25  NEW_PACKET_IN  22:09:49   10.0.0.2  Good boys
26  NEW_PACKET_IN  22:09:49   10.0.0.3  Good boys
27  NEW_PACKET_IN  22:09:49   10.0.0.4  Good boys
28  NEW_PACKET_IN  22:09:49   10.0.0.1   Bad boys
29  NEW_PACKET_IN  22:09:49   10.0.0.6  Good boys
..            ...       ...        ...        ...
70  NEW_PACKET_IN  22:09:49  10.0.0.11   Bad boys
71  NEW_PACKET_IN  22:09:49  10.0.0.11   Bad boys
72         PASSED  22:09:49   10.0.0.2  Good boys
73         PASSED  22:09:49   10.0.0.7  Good boys
74         PASSED  22:09:49   10.0.0.4  Good boys
75         PASSED  22:09:49   10.0.0.7  Good boys
76         PASSED  22:09:49   10.0.0.3  Good boys
77         PASSED  22:09:49   10.0.0.2  Good boys
78         PASSED  22:09:49   10.0.0.7  Good boys
79         PASSED  22:09:49   10.0.0.3  Good boys
80         PASSED  22:09:49   10.0.0.3  Good boys
81         PASSED  22:09:49   10.0.0.2  Good boys
82         PASSED  22:09:49   10.0.0.3  Good boys
83         PASSED  22:09:49   10.0.0.4  Good boys
84         PASSED  22:09:49   10.0.0.1   Bad boys
85         PASSED  22:09:49   10.0.0.4  Good boys
86         PASSED  22:09:49   10.0.0.6  Good boys
87  NEW_PACKET_IN  22:09:49   10.0.0.5   Bad boys
88  NEW_PACKET_IN  22:09:49   10.0.0.1   Bad boys
89  NEW_PACKET_IN  22:09:49   10.0.0.1   Bad boys
90         PASSED  22:09:49   10.0.0.5   Bad boys
91  NEW_PACKET_IN  22:09:49   10.0.0.8   Bad boys
92  NEW_PACKET_IN  22:09:49   10.0.0.5   Bad boys
93  NEW_PACKET_IN  22:09:49   10.0.0.8   Bad boys
94  NEW_PACKET_IN  22:09:49   10.0.0.9  Good boys
95  NEW_PACKET_IN  22:09:49   10.0.0.9  Good boys
96         PASSED  22:09:49   10.0.0.8   Bad boys
97         PASSED  22:09:49   10.0.0.1   Bad boys
98  NEW_PACKET_IN  22:09:49  10.0.0.15   Bad boys
99  NEW_PACKET_IN  22:09:49  10.0.0.15   Bad boys

[100 rows x 4 columns]

In [7]:
data.groupby(['Time', 'Cat', 'State']).count()

                                         Src_IP
Time     Cat       State
22:09:49 Bad boys  NEW_PACKET_IN             50
                   PASSED                    38
         Good boys NEW_PACKET_IN            100
                   PASSED                    86
22:09:50 Bad boys  NEW_PACKET_IN             40
                   PASSED                    40
         Good boys NEW_PACKET_IN             66
                   PASSED                    41
22:09:51 Bad boys  NEW_PACKET_IN             44
                   PASSED                    26
         Good boys NEW_PACKET_IN             75
                   PASSED                    37
22:09:52 Bad boys  NEW_PACKET_IN             40
                   PASSED                    16
         Good boys NEW_PACKET_IN             96
                   PASSED                    77
22:09:53 Bad boys  NEW_PACKET_IN             42
                   PASSED                    21
         Good boys NEW_PACKET_IN             80
                   PASSED                    52
22:09:54 Bad boys  NEW_PACKET_IN             56
                   PASSED                    41
                   REJECTED_blacklisted       5
         Good boys NEW_PACKET_IN            102
                   PASSED                    88
22:09:55 Bad boys  NEW_PACKET_IN             32
                   PASSED                     1
                   REJECTED_blacklisted      28
         Good boys NEW_PACKET_IN             66
                   PASSED                    24
...                                         ...
22:10:34 Good boys NEW_PACKET_IN             50
                   REJECTED_blacklisted      50
22:10:35 Bad boys  NEW_PACKET_IN             69
                   REJECTED                   4
                   REJECTED_blacklisted      69
         Good boys NEW_PACKET_IN             50
                   REJECTED_blacklisted      50
22:10:36 Bad boys  NEW_PACKET_IN             69
                   REJECTED                   4
                   REJECTED_blacklisted      69
         Good boys NEW_PACKET_IN             50
                   REJECTED_blacklisted      50
22:10:37 Bad boys  NEW_PACKET_IN             70
                   REJECTED                   4
                   REJECTED_blacklisted      70
         Good boys NEW_PACKET_IN             50
                   REJECTED_blacklisted      50
22:10:38 Bad boys  NEW_PACKET_IN             60
                   REJECTED                   1
                   REJECTED_blacklisted      60
         Good boys NEW_PACKET_IN             50
                   REJECTED_blacklisted      50
22:10:39 Bad boys  NEW_PACKET_IN             46
                   REJECTED_blacklisted      46
         Good boys NEW_PACKET_IN             50
                   REJECTED_blacklisted      50
22:10:40 Bad boys  NEW_PACKET_IN             31
                   REJECTED_blacklisted      31
         Good boys NEW_PACKET_IN             50
                   REJECTED_blacklisted      50

[219 rows x 1 columns]

In [8]:
# sel_data = data.loc[(data['State'] == 'PASSED') | (data['State'] == 'REJECTED')]
sel_data = data.loc[(data['State'].isin(['PASSED', 'REJECTED', 'REJECTED_blacklisted', 'REJECTED_POP']))]
sel_data.head()

     State      Time    Src_IP        Cat
6   PASSED  22:09:49  10.0.0.3  Good boys
7   PASSED  22:09:49  10.0.0.6  Good boys
8   PASSED  22:09:49  10.0.0.7  Good boys
9   PASSED  22:09:49  10.0.0.7  Good boys
10  PASSED  22:09:49  10.0.0.9  Good boys

In [9]:
sel_data.groupby(['State','Cat']).count()

                                Time  Src_IP
State                Cat
PASSED               Bad boys    183     183
                     Good boys   405     405
REJECTED             Bad boys     25      25
REJECTED_blacklisted Bad boys   2339    2339
                     Good boys  2243    2243